@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root, :root.light {
  --background-color:#F8F8F8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:#111827;
  }
}
.dark {
  background-color:#111827;
}

body {
  /* background-color: var(--background-color); */
  letter-spacing: .2rem;
}
.swiper {
  width: 300px;
  height: 300px;
  overflow-y: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide .swiper-slide>img {
  display: block;
  width: 100%;
  overflow-y: hidden;
}

.alvocat{
  height: 600px;
  width: 100%;
  color: white;
  /* filter: grayscale(100%); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size:contain;
  min-height: 100%;
  position: relative;
  background-image: url("https://media.istockphoto.com/id/510015094/photo/avocado-isolated-on-white-background.jpg?b=1&s=170667a&w=0&k=20&c=DbZCos6mLkNoUisTazF-N8JVWs5jDrGkfcNT0XBHtkY=");
}

.contact-bg{
  height: 600px;
  width: 100%;
  color: white;
  /* filter: grayscale(100%); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size:cover;
  min-height: 100%;
  position: relative;
  background-image: url("https://media.istockphoto.com/id/1411928829/photo/social-media-technology-concept-men-are-using-computer-for-social-media-and-online-marketing.jpg?b=1&s=170667a&w=0&k=20&c=KcUh0s26MmMesJGtOxJBaxw7n7L_NqYhIB8_-OV6P5M=");
}
